<% if (currentUser) { %>
        </main>
      </div>
    </div>
  </div>
<% } else { %>
    </main>
  </div>
<% } %>

<script src="https://unpkg.com/lucide@latest"></script>
<script>
  if (window.lucide) {
    window.lucide.createIcons();
  }
</script>
</body>
</html>
